--- 
layout: default 
---
<!-- Main -->
<div id="main">

	<!-- Intro -->
	<section id="top" class="one dark cover">
		<div class="container">
			<header>
				<span class="image centered">
					<img class="circle w-20-percent" src="/images/avatar.jpg" alt="" />
				</span>
				<h2 class="alt">Svetla Ivanova</h2>
				<h4>Software Developer</h4>
			</header>
			<footer>
				<ul class="icons">
					<li><a href="{{site.github_profile}}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
					<li><a href="{{site.linkedin_profile}}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
					<li><a href="mailto:{{site.email}}" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
				</ul>
			</footer>
		</div>
	</section>

	<!-- Portfolio -->
	<section id="portfolio" class="two">
		<div class="container">
			<header>
				<h2>Portfolio</h2>
			</header>
			<div class="row">
				{% for project in site.projects reversed %}
					<article class="{% cycle '6u', '6u$' %} 12u$(mobile)">
						<div class="item">
						<img src="{{project.imagepath}}" alt="{{project.title}}" class="image fit" target="_blank" />			
						<header>
							<h2>{{project.title}}</h2>											
							{% if project.demolink.size > 0 %} <a href="{{project.demolink}}" target="_blank">Demo</a> {% endif %}
							{% if project.videolink.size > 0 %} <a href="{{project.videolink}}" target="_blank">Video</a> {% endif %}		
							{% if project.sourcelink.size > 0 %}<a href="{{project.sourcelink}}" target="_blank">Source</a> {% endif %}							
							<div class="w-100-percent">
								<i class="tooltip icon fa-info-circle w-30-px"></i>
								<span class="tooltiptext portfolio">{{project.content}}</span>					
							</div>
						</header>
						</div>
					</article>
				{% endfor %}
			</div>
		</div>
	</section>
	<!--Posts-->
	<section id="posts" class="five">
		<div class="container">
			<section>
				<div class="row">
					{% if site.posts.size == 0 %}
					<article class="12u">
						<section>
							<p>No posts have been added yet.</p>
						</section>
					</article>
					{% else %} {% for post in site.posts offset:0 %}

					<article class="{% cycle '6u', '6u$' %} 12u(small)">
						<header>
							<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
						</header>
						<section>
							{{ post.excerpt }}
						</section>
						<footer>
							<ul class="actions">
								<li><a href="{{ post.url }}" class="button">Read More</a></li>
							</ul>
						</footer>
					</article>

					{% endfor %} {% endif %}
				</div>
			</section>
		</div>
	</section>
	<!-- About Me -->
	<section id="about" class="three">
		<div class="container">
			<header>
				<h2>About Me</h2>
			</header>
			<section>
				<article>
					<div class="row">				
						<span class="6u 12u$(mobile)">
							<h3><i class="icon fa-building" aria-hidden="true"></i> Experience*</h3>
							<div>.Net Developer since September 2015.</div>
						</span>
						<span class="6u 12u$(mobile)">
							<h3><i class="icon fa-university" aria-hidden="true"></i> Education*</h3>
							<div>Telerik Software Academy (2014)</div>	
						</span>
					</div>
					<span class="fs-12-pt">*in software</span>
				</article>
				<article>
					<h3><i class="icon fa-star" aria-hidden="true"></i> Certificates</h3>
					<p>
					<div class="row">
						<span class="3u 12u$(mobile)">
							<a href="https://telerikacademy.com/Certificates/View/1534/4e694667" target="_blank">
								<img src="/images/certificate-ta-web.png" class="image fit">
							</a>
							<div class="fs-12-pt lh-1-5">Web Developer - Telerik Academy</div>																												
						</span>
						<span class="3u 12u$(mobile)">
							<a href="https://telerikacademy.com/Certificates/View/1764/8cb1928a" target="_blank">
								<img src="/images/certificate-ta-mobile.png" class="image fit">
							</a>
							<div class="fs-12-pt lh-1-5">Mobile Developer - Telerik Academy</div>																					
						</span>
						<span class="3u 12u$(mobile)">
							<a href="https://telerikacademy.com/Certificates/View/1548/7c878bd2" target="_blank">
								<img src="/images/certificate-ta-csharp.png" class="image fit">
							</a>
							<div class="fs-12-pt lh-1-5">C# Developer - Telerik Academy</div>														
						</span>
						<span class="3u 12u$(mobile)">
							<a href="https://telerikacademy.com/Certificates/View/841/a7f5a37b" target="_blank" >
								<img src="/images/certificate-ta-js.png" class="image fit">
							</a>
							<div class="fs-12-pt lh-1-5">JavaScript Developer - Telerik Academy</div>																					
						</span>
						<span class="3u 12u$(mobile)">
							<a href="https://telerikacademy.com/Certificates/View/1765/455d648a" target="_blank">
								<img src="/images/certificate-ta-ninja.png" class="image fit">
							</a>
							<div class="fs-12-pt lh-1-5">Telerik Academy Ninja</div>							
						</span>
						<span class="3u 12u$(mobile)">
							<a href="https://telerikacademy.com/Certificates/View/1402/3d27707a" target="_blank">
								<img src="/images/certificate-ta-pwc.png" class="image fit">
							</a>
							<div class="fs-12-pt lh-1-5">Business Acumen Training Series - PwC's Academy Luxembourg</div>											
						</span>
						<span class="3u 12u$(mobile)">
							<a href="https://telerikacademy.com/Certificates/View/1306/b62bca80" target="_blank">
								<img src="/images/certificate-ta-trainerbg.png" class="image fit mh-150-px">
							</a>
							<div class="fs-12-pt lh-1-5">Communication and Analytical Skills - Trainer.BG</div>							
						</span>
						<span class="3u 12u$(mobile)">
							<img src="/images/certificate-cu-english.jpg" class="image fit mh-150-px" alt="Certificate of Advanced English">
							<div class="fs-12-pt lh-1-5">Certificate in Advanced English - University of Cambridge</div>
						</span>
					</div>
					</p>
					<div class="row">				
						<span class="12u 12u$(mobile)">
							<h3><i class="icon fa-user" aria-hidden="true"></i> Personal Interests</h3>
							<div>Travelling, social hangouts and games, fantasy books and movies, writing, arts, foreign languages and more.</div>
						</span>
					</div>
				</article>
			</section>
		</div>
	</section>

	<!-- Contact -->
	<!--<section id="contact" class="four">
		<div class="container">
			<header>
				<h2>Contact</h2>
			</header>
			<p>Use the form below to send me an email or find me on one of the networks listed on the left.</p>
			<form action="MAILTO:{{site.email}}" method="post" enctype="text/plain">
				<div class="row">
					<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
					<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
					<div class="12u$">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
					<div class="12u$">
						<input type="submit" value="Send Message" />
					</div>
				</div>
			</form>
		</div>
	</section>-->
</div>