--- 
layout: default 
---
<!-- Main -->
<div id="main">

	<!-- Intro -->
	<section id="top" class="one dark cover">
		<div class="container">
			<header>
				<span class="image centered">
					<img class="circle" src="/images/avatar.jpg" alt="" />
				</span>
				<h2 class="alt">Svetla Ivanova</h2>
				<h4>Software Developer</h4>
			</header>
			<footer>
				<ul class="icons">
					<li><a href="{{site.github_profile}}" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
					<li><a href="{{site.linkedin_profile}}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
					<li><a href="mailto:{{site.email}}" class="icon fa-envelope" target="_blank"><span class="label">Email</span></a></li>
				</ul>
			</footer>
		</div>
	</section>

	<!-- Portfolio -->
	<section id="portfolio" class="two">
		<div class="container">
			<header>
				<h2>Portfolio</h2>
			</header>
			<div class="row">
				{% for project in site.projects limit:1 %}
				<div class="6u 12u$(mobile)">
					<article class="item">
						<img src="{{project.imagepath}}" alt="{{project.title}}" class="image fit" />
						<header>
							<h2>{{project.title}}</h2>
							<a href="{{project.demolink}}" target="_blank" class="">Demo</a> <a href="{{project.sourcelink}}" target="_blank"
								class="">Source</a>
							<div class="w-100-percent">
								<i class="tooltip icon fa-info-circle w-30-px"></i>
								<span class="tooltiptext">{{project.content}}</span>
							</div>
						</header>
					</article>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!--Posts-->
	<section id="posts" class="five">
		<div class="container">
			<section>
				<div class="row">
					{% if site.posts.size == 0 %}
					<article class="12u">
						<section>
							<p>No posts have been added yet.</p>
						</section>
					</article>
					{% else %} {% for post in site.posts offset:0 %}

					<article class="{% cycle '6u', '6u$' %} 12u(small)">
						<header>
							<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
						</header>
						<section>
							{{ post.excerpt }}
						</section>
						<footer>
							<ul class="actions">
								<li><a href="{{ post.url }}" class="button">Read More</a></li>
							</ul>
						</footer>
					</article>

					{% endfor %} {% endif %}
				</div>
			</section>
		</div>
	</section>
	<!-- About Me -->
	<section id="about" class="three">
		<div class="container">

			<header>
				<h2>About Me</h2>
			</header>

			<!--<a href="#" class="image featured"><img src="/images/pic08.jpg" alt="" /></a>-->

			<p>
				<h3>Experience</h3>
				.Net Developer since September 2015. </p>
			<h3>Education</h3>
			Telerik Software Academy (2014)
			<!--<h4>Courses</h4>
			<ul>
				<li>Programming with C# - Parts 1 & 2</li>
				<li>Object-Oriented Programming</li>
			</ul>-->
			</p>

		</div>
	</section>

	<!-- Contact -->
	<!--<section id="contact" class="four">
		<div class="container">
			<header>
				<h2>Contact</h2>
			</header>
			<p>Use the form below to send me an email or find me on one of the networks listed on the left.</p>
			<form action="MAILTO:{{site.email}}" method="post" enctype="text/plain">
				<div class="row">
					<div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Name" /></div>
					<div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Email" /></div>
					<div class="12u$">
						<textarea name="message" placeholder="Message"></textarea>
					</div>
					<div class="12u$">
						<input type="submit" value="Send Message" />
					</div>
				</div>
			</form>
		</div>
	</section>-->
</div>