--- 
layout: default
---
<article class="item">
  <!--<a href="{{link}}" target="_blank" class="image fit ">
    <img src="images/portfolio-like-it.png" alt="" />
    {{link}}
  </a>-->
  <img src="{{imagepath}}" alt="{{title}}" />
  <header>
    <h2>{{title}}</h2>
    <a href="{{demolink}}" target="_blank" class="">Demo</a> <a href="{{sourcelink}}"
      target="_blank" class="">Source</a>
    <a href="#" class="icon fa-info-circle tooltip"></a>
    <p class="tooltiptext">{{content}}</p>
  </header>
</article>